<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/card.css">
    <script defer src="../compiled/home_controller.js"></script>
</head>
<body>
    <h1>Welcome to my todo app</h1>
    
    <div class="action-bar">
        <button id="add-button">
            Add Todo List
        </button>
    </div>
    <div class="center">
        <div id="todos"></div>
    </div>
</body>
</html>