<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <script defer src="../compiled/todo_list_controller.js"></script>
    <title>Add Todo</title>
</head>
<body>
    <div class="center column" >
        <div id="todo-view"></div>
        <div class="row">
            <button id="add-field">Add field</button>
            <button id="save-button">Save</button>
        </div>
    </div>
</body>