.card {
    background-color: rgb(185, 171, 250);
    margin-top: 6vh;
    padding: 15px;
    border-radius: 15px;
}

.card > h6 {
    margin-top: 6px; 
    margin-bottom: 6px;
    color: rgb(0, 48, 86);
    text-align: center;
}

li {
    margin-top: 4px; 
    margin-bottom: 4px;
    color: rgb(0, 48, 86);
}

ul {
    padding-left: 15px;
}